// Constants files are .SCSS to allow multi-line map syntax
// https://github.com/sass/sass/issues/216

@function media-min-width($min-width) {
  @return 'only screen and (min-width: #{$min-width})';
}

@function media-max-width($max-width) {
  @return 'only screen and (max-width: #{$max-width})';
}

@function media-between-widths($smaller-width, $larger-width) {
  @return 'only screen and (min-width: #{$smaller-width + 1px}) and (max-width: #{$larger-width})';
}


// The ordering @media statements is EXTREMELY IMPORTANT!
// For desired results:
//   1. `max-width` ($breakpoint-and-down); descending
//   2. `min-width` ($breakpoint-and-up); ascending
// For more explanation: https://stackoverflow.com/a/8792163

$mobile-small: 375px; // iPhone SE
$mobile-medium: 390px; // iPhone 12 Pro
$mobile-large: 414px; // iPhone XR
$mobile-xlarge: 430px; // iPhone 14 Pro Max
$mobile-small-landscape: 667px; // iPhone SE
$mobile-medium-landscape: 844px; // iPhone 12 Pro
$mobile-large-landscape: 896px; // iPhone XR
$mobile-xlarge-landscape: 932px; // iPhone 14 Pro Max
$tablet-small: 768px; // iPad and iPad Mini
$tablet-large: 1024px; // iPad Pro
$tablet-landscape: 1024px; // ipad landscape
$small: 600px;
$medium-narrow: 900px;
$medium-wide: 992px;
$large: 1200px;
$xlarge: 1440px;

$mobile-small-and-down: media-max-width($mobile-small);
$mobile-medium-and-down: media-max-width($mobile-medium);
$mobile-large-and-down: media-max-width($mobile-large);
$mobile-xlarge-and-down: media-max-width($mobile-xlarge);
$mobile-small-landscape-and-down: media-max-width($mobile-small-landscape);
$mobile-medium-landscape-and-down: media-max-width($mobile-medium-landscape);
$mobile-large-landscape-and-down: media-max-width($mobile-large-landscape);
$mobile-xlarge-landscape-and-down: media-max-width($mobile-xlarge-landscape);
$tablet-small-and-down: media-max-width($tablet-small);
$tablet-large-and-down: media-max-width($tablet-large);
$tablet-landscape-and-down: media-max-width($tablet-landscape);
$small-and-down: media-max-width($small);
$medium-narrow-and-down: media-max-width($medium-narrow);
$medium-wide-and-down: media-max-width($medium-wide);
$tablet-landscape-and-down: media-max-width($tablet-landscape);
$tablet-small-and-down: media-max-width($tablet-small);
$large-and-down: media-max-width($large);
$xlarge-and-down: media-max-width($xlarge);

$mobile-small-and-up: media-min-width($mobile-small);
$mobile-medium-and-up: media-min-width($mobile-medium);
$mobile-large-and-up: media-min-width($mobile-large);
$mobile-large-landscape-and-up: media-min-width($mobile-large-landscape);
$small-and-up: media-min-width($small);
$medium-narrow-and-up: media-min-width($medium-narrow);
$medium-wide-and-up: media-min-width($medium-wide);
$tablet-landscape-and-up: media-min-width($tablet-landscape);
$tablet-small-and-up: media-min-width($tablet-small);
$large-and-up: media-min-width($large);
$xlarge-and-up: media-min-width($xlarge);

$large-to-xlarge: media-between-widths($large, $xlarge);
$mobile-small-to-mobile-large: media-between-widths($mobile-small, $mobile-large);
$mobile-small-to-small: media-between-widths($mobile-small, $small);
$mobile-small-to-medium-narrow: media-between-widths($mobile-small, $medium-narrow);
$mobile-medium-to-mobile-large: media-between-widths($mobile-medium, $mobile-large);
$mobile-large-to-small: media-between-widths($mobile-large, $small);
$mobile-large-to-tablet-small: media-between-widths($mobile-large, $tablet-small);
$mobile-large-landscape-to-xlarge: media-between-widths($mobile-large-landscape, $xlarge);
$medium-narrow-to-medium-wide: media-between-widths($medium-narrow, $medium-wide);
$medium-wide-to-large: media-between-widths($medium-wide, $large);
$small-to-mobile-large-landscape: media-between-widths($small, $mobile-large-landscape);
$small-to-medium-narrow: media-between-widths($small, $medium-narrow);
$tablet-landscape-to-xlarge: media-between-widths($tablet-landscape, $xlarge);


