@use '../functions.sass' as *;

$border-radius: 8px;
$box-shadow-inputs: rems(0px) rems(1px) rems(2px) rems(0px) rgba(16, 24, 40, 0.05);
$dialog-shadow: rems(0px) rems(4px) rems(6px) rems(-2px) rgba(40, 40, 40, 0.25), rems(0px) rems(12px) rems(16px) rems(-4px) rgba(40, 40, 40, 0.40);
$input-height: rems(40px);
