@use 'sass:color';
@use 'sass:map';
@use 'sass:math';
@use 'base/index';
@use 'base/colors' as *;
@use 'base/constants/misc' as *;
@use 'base/constants/breakpoints' as *;
@use 'base/constants/typography' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/spacing/box' as *;
@use 'base/spacing/containers' as *;
@use 'shortcuts';
@use 'terminal';

body {
  margin: 0 auto;
  max-width: $spacing-xl;
  padding: 0 $spacing-8;

  @media #{$tablet-large-and-down} {
    padding: 0 $spacing-4;
  }
}

.DownloadLink {
  align-content: center;
  background-color: #e95420;
  border-radius: $border-radius;
  color: $base-white;
  display: block;
  font-size: rems(map.get($font-sizes, "text-md"));
  height: $spacing-10;
  margin: 0 auto;
  padding: 0 $spacing-4;
  width: fit-content;

  &:active {
    background-color: color.adjust(#e95420, $lightness: -12%);
  }

  &:focus,
  &:hover {
    background-color: color.adjust(#e95420, $lightness: -7%);
    box-shadow: $dialog-shadow;
  }
}

.List {
  margin: rems(map.get($font-sizes, "display-2xl")) auto;
  max-width: $spacing-md;

  li {
    font-size: rems(map.get($font-sizes, "display-xs"));
    line-height: map.get($font-sizes, "display-xs") * $ratio;
    margin-top: rems(math.div(map.get($font-sizes, "display-2xl"), 3));

    &:first-child {
      margin-top: 0;
    }

    pre {
      background-color: #380c2a;
      border-radius: $border-radius;
      color: $base-white;
      display: inline-block;
      padding: $spacing-1 $spacing-3;
    }
  }
}

.Nav {
  @include flex($align: center);
  padding: $spacing-4 0;

  &__left {
    width: 100%;
  }

  &__icon-link {
    border-radius: 50%;

    &:hover,
    &:focus {
      box-shadow: $dialog-shadow;
    }

    img {
      height: $spacing-6;
      width: $spacing-6;
    }
  }

  &__right {
    @include flex($align: center, $justify: end);
    width: 100%;

    .DownloadLink {
      display: inline-block;
      margin-left: 0;
      margin-right: $spacing-3;

      @media #{$tablet-large-and-down} {
        display: none;
      }
    }
  }
}

